$bg-header: url('/assets/images/Backgrounds/Bg_Header.png');
$bg-footer: url('/assets/images/Backgrounds/Bg_Footer.png');
$img-home: url('/assets/images/Hero/Ic_ilustra_Hero.png');
$woloxer: url('/assets/images/img_woloxer.png');


// images 2x
$bg-header-2x: url('/assets/images/Backgrounds/Bg_Header@2x.png');
$bg-footer-2x: url('/assets/images/Backgrounds/Bg_Footer@2x.png');
$woloxer-2x: url('/assets/images/img_woloxer@2x.png');

// images 3x
$bg-header-3x: url('/assets/images/Backgrounds/Bg_Header@3x.png');
$bg-footer-3x: url('/assets/images/Backgrounds/Bg_Footer@3x.png');
$woloxer-3x: url('/assets/images/img_woloxer@3x.png');

// SVG
$logo: url('/assets/images/logo_full_color.svg');
$twitter-logo: url('/assets/images/logo_twitter.svg');

$brain: url('/assets/images/Ic_brain.svg');
$drink-snacks: url('/assets/images/Ic_DrinkSnacks.svg');
$home-office: url('/assets/images/Ic_HomeOffice.svg');
$hour: url('/assets/images/Ic_Hour.svg');
$laptop: url('/assets/images/Ic_laptop.svg');
$tecnologys: url('/assets/images/Ic_Tecnologys.svg');
$wolox-footer: url('/assets/images/Ic_Wolox_Footer.svg');
$workshop: url('/assets/images/Ic_Workshops.svg');

$bullet-1: url('/assets/images/Ic_Bullet_1.svg');
$bullet-2: url('/assets/images/Ic_Bullet_2.svg');
$bullet-3: url('/assets/images/Ic_Bullet_3.svg');

$favorite-alt: url('/assets/images/favorite_alt.svg');
$favorite: url('/assets/images/favorite.svg');
