@import './sizes';
@import './typography';
@import './colors';

html {
  scroll-behavior: smooth;
}

body {
  font: 16px "Montserrat",sans-serif;
}

a {
  text-decoration-line: none;
}

.container {  
  display: flex;
  margin: 0 auto;
  max-width: $sz-container-3x;
}

input, select {
  border: none;
  background: #29a5dd14;
  border-radius: 5em;
  text-align: center;
  height: 2em;
  text-align-last: center;
}

.primary-color {
  color: $primary;
}

.secondary-color {
  color: $secondary;
}

.title-color {
  color: $title-color;
}

.space-header {
  padding-top: $space-header;
}