<div>
  <h2 class="title-req">Requerimientos</h2>
  <div class="contain-req">
    <div>
      <span class="green point"></span>
      <span class="text-req">Estudiantes avanzados o recibidos de carreras del rubro
        informatico, sistemas o electronicos.
      </span>
    </div>
    <div>
      <span class="black point"></span>
      <span class="text-req">
        Ingles intermedio/avanzado
      </span>
    </div>
    <div>
      <span class="blue point"></span>
      <span class="text-req">
        Conocimiento en metodologias agiles (deseable)
      </span>
    </div>
  </div>
</div>