<div class="headerapp" ng-class="{'shrink': shrinkHeader}">
  <div class="container">
    <div class="logo"></div>
      <ul>
        <li>
          <a href="#home">Inicio</a>
        </li>
        <li>
          <a href="#tech">Tecnologías</a>
        </li>
        <li>
          <a href="#benefits">Beneficios</a>
        </li>
        <li>
          <a href="#requirements">Requerimientos</a>
        </li>
        <li>
          <a 
            class="btn-register"
            href="#!/sigup"
            ng-hide="loggedin"
          >Resgistrarse</a>
          
          <div 
            class="contain-loggedin"
            ng-show="loggedin">
            <a class="btn-techs" href="#!/list">Lista Tecnologias</a>
            <span class="primary-color">{{countFavorites ? countFavorites : ''}}</span>
          </div>
        </li>
      </ul>
  </div>
</div>
