<div class="container collab">
  <div class="twitter-banner">
    <h2>
      <span class="count-collab">350 +</span>
      <span class="woloxers">Woloxers</span>
    </h2>
    <div class="contain-twitter">
      <div class="logo-twitter"></div>
      <span class="user-twitter">@Wolox</span>
    </div>
    <a href="https://twitter.com/Wolox" target="_blank" class="btn-twitter">
      Siguenos
    </a>
  </div>

  <div class="info-collab">
    <span class="title-color">Trabajamos para</span>
    <span>
      <span class="primary-color">convertir</span>
      <span class="secondary-color">ideas</span> en
    </span>
    <span class="title-color">productos</span>
  </div>
</div>
