<headerapp></headerapp>
<div class="space-header"></div>

<div class="container">
  <div class="contain-filter">
    <div>
      <label for="search">Buscar por nombre o tipo</label>
      <input 
        ng-model="textFilter"
        ng-keyup="filter()"
        type="text"
        placeholder="Buscar por nombre o tipo"
        id="search"
      >
    </div>
    <div>
      <label for="listTech">Ordenar por nombre</label>
      <select ng-model="orderType" ng-change="order()" id="listTech">
        <option value="ASC">Asc</option>
        <option value="DES">Des</option>
      </select>
    </div>
    <div>
      Tecnologias mostradas: {{ listTech.length }}
    </div>
  </div>
  <div class="list-tech">
    <div ng-repeat="tech in listTech">
      <techcard tech="tech"></techcard>
    </div>
  </div>
</div>